@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, rgb(120, 120, 120), rgb(100, 100, 100));
}

/* Home Page */

.home-link {
  margin: 0.5rem;
}

/* Full Screen Image  */

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: darkslategray;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;

}
.full-image {
  height: 95vh;
  border-radius: 8px;
}

.exit-btn, .left-btn, .right-btn {
  position: fixed;
  z-index: 70;
  font-size: 3rem;
  cursor: pointer;
  color: #fff
}
.left-btn {
  left: 2rem;
  top: 50vh;
}
.right-btn {
  right: 2rem;
  top: 50vh;
}
.exit-btn {
  right: 2rem;
  top: 2rem;
}

/* Card List  */

.archetype-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-header {
  text-align: center;
  font-size: 36px;
  margin: 2rem 0;
  font-family: 'Righteous', serif;
  background-image: linear-gradient(90deg, rgba(171, 0, 65, 1), rgba(155, 155, 0, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: black;
}
.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-img {
  max-height: 200px;
  margin: 0.5rem;
  box-shadow: 3px 3px 5px darkslategrey;
  transform-origin: center;
  transform: perspective(800px) rotateY(10deg);
  transition: 0.5s;
  border-radius: 4px;
}
.card-img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .full-screen {
    flex-direction: column;
  }
  .full-image {
    width: 95vw;
    height: auto;
  }
  .card-img {
    max-height: 175px;
  }
  .exit-btn, .left-btn, .right-btn {
    font-size: 2rem;
  }
  .left-btn {
    left: 1rem;
  }
  .right-btn {
    right: 1rem;
  }
  .exit-btn {
    right: 1rem;
    top: 1rem;
  }
}