
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
}
.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: slategrey;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;

}
.full-image {
  height: 95vh;
}

.exit-btn, .left-btn, .right-btn {
  position: fixed;
  z-index: 70;
  font-size: 3rem;
  cursor: pointer;
  color: #fff
}
.left-btn {
  left: 2rem;
  top: 50vh;
}
.right-btn {
  right: 2rem;
  top: 50vh;
}
.exit-btn {
  right: 2rem;
  top: 2rem;
}
.archetype-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-header {
  text-align: center;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2rem 0;
}
.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-img {
  max-height: 175px;
  margin: 0.5rem;
}
.card-img:hover {
  transform: scale(1.02);
  transition: 350ms;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .full-screen {
    flex-direction: column;
  }
  .full-image {
    width: 95vw;
    height: auto;
  }
}